
#antecessor-objetivos {
  display: flex;
  height: 4rem;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inclusive Sans', sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
}

#objetivos {
  display: flex;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inclusive Sans', sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
  }
#desenvolvedores {
    display: flex;
    margin-top: 0rem;
    margin-bottom: 0rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inclusive Sans', sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
}

.typeface {
  display: flex;
  background-color: #fff0d2;
  width: 100%;
  height: 27.5rem;
  
}

.typeface .typeface-conteudo {
  display: flex;
  margin-right: 75px;
  margin-left: 75px;
  width: 262.625rem;
  height: 27.5rem;
  background: #fff0d2;
  padding: 1.25rem 1.875rem;
  justify-content: space-around;
  text-align: center;
}

.typeface span {
  text-align: center;
}

.typeface .valores {
  display: flex;
  width: 32rem;
  height: 23.75rem;
  background-color: #fff0d2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.typeface .valores ul {
  margin: 0;
  padding: 0;
}

.typeface .valores ul li {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  list-style: none;
}

.typeface .valores h2 {
  font-size: 2rem;
  font-weight: bold;
}